@page "/"
@namespace CleanArchitecture.ApiTemplate.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <title>SecureCleanApiWaf</title>
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="SecureCleanApiWaf.styles.css" />
</head>
<body>
    <component type="typeof(CleanArchitecture.ApiTemplate.Components.Routes)" render-mode="ServerPrerendered" />
    <script src="_framework/blazor.server.js"></script>
</body>
</html>
